
# let's start with directories
bin/
obj/
Debug/
Release/
TempPE/
.vs/
# do not publish the following line( i.e. data/ ), for data-privacy reasons.
data/
# instead keep the following two directories, for documentation needs.
# Doc/  keep it for Docs of general nature
# cantina/ keep it for draft documents

# let's continue with files
*.dll
*.exe
*.pdb
*.scc
*.cache
*.vspscc
*.csproj.vspscc
*.user
*.suo
*.log
*.VS2017
# keep the following extensions, as data sources.
#*.xls
#*.xlsx 
#*.prn 
