
# let's start with directories
bin/
obj/
Debug/
Release/
TempPE/
.vs/
data/
# Doc/  keep it for Docs of general nature
# cantina/ keep it for draft documents

# let's continue with files
*.dll
*.exe
*.pdb
*.scc
*.cache
*.vspscc
*.csproj.vspscc
*.user
*.suo
*.log
*.VS2017
#*.xls # keep it as data source
#*.xlsx  # keep it as data source
#*.prn  keep it as data source
