
# let's start with directories
bin/
obj/
Debug/
Release/
TempPE/
Doc/
cantina/
data/
.vs/

# let's continue with files
*.dll
*.exe
*.pdb
*.scc
*.cache
*.vspscc
*.csproj.vspscc
*.user
*.suo
*.log
*.VS2017
*.xls
*.xlsx
*.prn
